* {
	margin: 0; 
	padding: 0;
	}

html {
	}
img {
width: 100%; 
height: auto;
}
@import url(https://fonts.googleapis.com/css?family=Nunito:300);



h1{
	font-family: 'Nunito', sans-serif;
	font-size: 1.8em;
	color: #474747;
	font-weight:lighter;
	text-align: center;
	margin: 4% auto;
	line-height: 1.2em;
}

p{
	font-family: 'Nunito', sans-serif;
	font-size: 1.1em;
	color: #474747;
	text-align: center;
	line-height:1.5em;
	font-weight:lighter;
}

h2 {
	font-family: 'Nunito', sans-serif;;
	font-size: 1.2em;
	text-align: center;
	text-transform:;
	color: #474747;
	font-weight:lighter;
}
h4 {
	font-family: 'Nunito', sans-serif;
	font-size: 1.2em;
	color: #474747;
	font-weight:lighter;
	line-height: 1.5em;
	font-style: italic;
	text-align: center;
}
h5 {
	font-size: 1.1em;
	color: #474747;
	font-weight:lighter;
	line-height: 1.5em;
	font-family: 'Nunito', sans-serif;
}
h3 {
	font-size: 1.1em;
	color: #474747;
	font-weight:lighter;
	line-height: 1.5em;
	font-family: 'Nunito', sans-serif;
	text-indent: 20px;
}

.group:before,
.group:after {content: ""; display: table;}
.group:after {clear: both;}
.group {zoom: 1;}


/* Här är inställningarna för första sidan. index.html */
.header-area1 {
	max-width: 100%; 	
}
.header1 {
	max-width: 1200px;
	margin: 40px auto 2px auto;
}	
.logga-area1{
	width: 80%;
	float: none;
	margin: 0 auto 5% auto;
}
.logga1{
	width: 33%;
	margin:0px 33%;
}
.linkbox-area1 {
	float: none;	
}
.linkbox1 {
	text-align: center;
	border-bottom: 1px solid #000;
	width: 50%;
	margin: 0 auto;
}	
.linkbox1 li {
	display: inline-block; 
	list-style: none; 
}


.linkbox1 a:link, a:visited { 
	color: #2d2d2d; 
	display: block; 
	padding: 8px 36px 2px 36px; 
	font-size: 18px; 
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	font-weight:lighter;
	transition: box-shadow 0.3s ease-out;
}
.linkbox1 a:hover {
	box-shadow: 5px 5px 15px #ccc; 
	color: #224455;
}
/* Bild på första sidan. */
.frontpage-image{
	position: relative;
	margin-top: 2rem;
	z-index: -1;
}
.image2 {
	max-width: 1200px;
	margin: auto;
}
/* black box */
.blackbox{
	background-color: #000;
	height: 1000px;
	width: 100%;
	margin-top: -5px;
}
/* Text på första sidan. color: #66ccff;*/
.formgivning {
	color: #66ccff;
	font-size: 0.9em;
}

/* Här är inställningarna för huvudet på samtliga anndra sidor. */
body {
	width: 100%;
}
.one-div-to-rule-them-all {
	max-width: 1200px;
	margin: auto;
}
.header-area {
	max-width: 100%; 
}
.header {
	max-width: 1200px;
	border-bottom: 1px solid #000;
	margin: 40px auto 0px auto;
	padding-bottom: 3px;
}	
.logga-area{
	width: 15%;
	float: left;
	margin-left: 4%;	
}
.logga{
	width:90%;
}
.logga-area a:hover {
	box-shadow: 5px 5px 15px #ccc; 
	color: #224455;
	transition: box-shadow 0.3s ease-out;
}
.linkbox-area {
	width: 50%;
	float: right;
	margin-right: 4%;
}	
.linkbox {
			text-align: right;	
}
.linkbox li {
	display: inline-block; 
	list-style: none; 
	margin-top: 12%;
}
.linkbox a:link, a:visited {
	color: #2d2d2d; 
	display: block; 
	padding: 8px 24px 2px 24px; 
	font-size: 16px; 
	text-decoration:none;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
	font-weight:lighter;
	transition: box-shadow 0.3s ease-out;
}	
.linkbox a:hover {
	box-shadow: 5px 5px 15px #ccc; 
	color: #224455;
}
/* Här är inställningarna för footer på samtliga anndra sidor. */
footer{
	max-width: 100%;
	background-color: #000; 
	margin: 0px auto;
	height: 40px;
}
.image2 {
	max-width: 100%;
	margin-top: 2%;
	margin-bottom: -0.5%;
}
/* Rubrik används på portfolio, om mig, kontakt, tack och error.*/
.container-rubrik{
	max-width: 100%;
}
.rubrik {
	max-width: 960px;
	margin: 6% auto 0% auto;
	padding: 0px auto;
}
hr {
	max-width: 400px;
	margin: 1% 30% 0px 30%;
}
/* continer används på samtliga sidor utan index.*/
.container{
	max-width: 100%;
}
.container-area2{
	max-width: 1200px;
	margin: 0px auto;
}
/* Portfoliosidan 3 continrar med 4 boxar i varje. */

/*Bildtext med opacitet*/
.image-wrap2 {position: relative; width: 100%;}
.image-wrap2 img {display: block;}
.image-caption2 {position: absolute;
top: 4px;
left: 4px;
width: 100%;
box-sizing: border-box;
color: #fff; background-color: rgba(0, 0, 0, .7);
padding: 5px 10px;
font-size: 90%; font-style: italic;}
/*Slut Bildtext med opacitet*/

/*Bildtext med opacitet*/
.image-wrap {position: relative; width: 100%;}
.image-wrap img {display: block;}
.image-caption {position: absolute;
bottom: 0;
left: 0;
width: 100%;
box-sizing: border-box;
color: #fff; background-color: rgba(0, 0, 0, .5);
padding: 5px 10px;
font-size: 90%; font-style: italic;}
/*Slut Bildtext med opacitet*/

/*bildboxar
.bildbox-left {width: 18%; float: left; margin-right: 2%; box-sizing: border-box;}
.bildbox-right {width: 18%; float: left; box-sizing: border-box;}*/
.bildbox-left {
	border: solid 0ppx #000;
	float: left; 
	margin:  6% 0 0 6%;  
	position: relative;
	display: block;
	height: auto;	
	background: no-repeat center top -10px;
	overflow: hidden;
	background-size: 110% 110%;
	width:304px;
	box-sizing: border-box; 
}
.bildbox-right {
	border: 0px solid #000;
	float: right; 
	margin: 6% 6% 0 6%;  
	position: relative;
	display: block;
	height: auto;	
	background: no-repeat center top -10px;
	overflow: hidden;
	background-size: 100% 100%;
	width: 304px;
	box-sizing: border-box;
}




/*.bildbox-right a:hover img, .bildbox-left a:hover img{
	box-shadow: 12px 12px 23px -1px #909090;
	transition: box-shadow 0.3s ease-out;
}
.bildbox-left img, .bildbox-right img, .bildbox-left2 video {
	display: block;
}
.bildbox-left2{
	float: left;
	margin: 2%;
	width: 31%;
}
.film{
	width: 100%;
}*/






/* Svarta fadeeffekten */
.overlay {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: transparent; /* Fallback */
	background-color: rgba(20, 20, 255, 0.58);
	display: block;
	cursor: pointer;
}

.overlay:hover {
	opacity: 1;
	padding-top: 40px;
}
/*-----*/
item:first-child {
	margin: 0 0 20px 0;
}
/*.item img {
	z-index: 1;
	position: relative;
	width: 100%;
	height: auto;
}*/
.bildbox-left
.bildbox-right
.item,
.overlay,
.caption {
	/* Animation */
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 1.0s;
}
/* Bildtext centertrera verticalt/horizontellt */
.caption {
	position: absolute;
	bottom: 60%;
	left: 0;
	margin-top: -32px;
	text-align: center;
	width: 100%;
	height: 20px;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	font-size: 1.3em;
	font-weight:lighter;
}

/* Flodens Guldsmide  använder smamma continer som portfolio*/
.vanster{
	width: 30%; 
	float: left; 
	margin: 10% auto 5% 7%;  
	box-sizing: border-box;  
}
.g-logga{
	width: 100%; 
	float: left; 
	margin: 10% auto 10% auto;  
	box-sizing: border-box;  
}
.gtext{
	width: 100%; 
	float: left;  
	box-sizing: border-box; 
}
.bildspel{
	width: 50%; 
	float: right; 
	margin: 10% 5% 5% 5%;  
	box-sizing: border-box; 
}
/* Om mig.  1 continrar med 3boxar en med text och en med bild använder continer och continer-area2. */
.contact{
	margin-top: 30px;
}
.maile{
	font-family: 'Nunito', sans-serif;
	font-size: 1.1em;
	color: #474747;
	text-align: center;
	line-height:1.5em;
	font-weight:lighter;
	text-decoration: none;
}

.bild{
	width: 30%; 
	float: left; 
	margin: 10% 0% 2% 0%;  
	box-sizing: border-box;  
}

/*.about-me-image {
	border: 1px solid #000;
    width: 360px;
    height: 289px;
    background-image: url(bilder/jagsvart.png);
    background-size: cover;
    border-radius: 3px;
    transition: background-image 0.2s ease-in-out;
}*/
.about-me-image:hover {
    background-image: url("bilder/jag.jpg");
}

.bild{
	width: 30%; 
	float: left; 
	margin: 10% 0% 2% 0%;  
	box-sizing: border-box;  
}
.migtext{
	width: 33%; 
	float: right; 
	margin: 10% 6% 2% 0%;  
	box-sizing: border-box;  
}
.citat{
	width: 25%;
	float: right;
	margin:11% 0% 2% 0%;
	box-sizing: border-box; 
}
.line{
	margin: 2% 0;
}



@media screen and (min-width: 584px) and (max-width: 1024px) {
.linkbox-area {
	padding-right: 1%;}
.linkbox-area {
	width: 40%;}

.linkbox a:link, a:visited {
	padding: 8px 10px 3px 10px;
	font-size:18px;
	}
.linkbox1 a:link, a:visited { 
	padding: 8px 27px 3px 27px;
	font-size: 17px; 
	text-decoration: none;
}
.bild{
	width: 40%;
	margin: 10% 0 0 6%;
}
.citat{
	width: 42%;
	margin: 10% 6% 0 0;	
}
.migtext{
	width: 51%;
	float: left;
	margin: 6% 0 8% 6%;
}
/*Portfolio*/
	.bildbox-left {
	width: 25%; 
	float:; 
	margin:6.2% 0 0 6.2%;
}

	.bildbox-right {
	width: 25%; 
	float:; 
	margin:6.2% 6.2% 0 6.2%;}

}


@media screen and (max-width: 583px) {
	/* Här är inställningarna för första sidan. index.html */
	.logga1{
	width: 50%;
	margin:0px 25%;
	}
	.linkbox1 {
		border-bottom: none;
		width: 100%;
	}
	.linkbox1 a:link, a:visited { 
	padding: 5px 8px 2px 8px; 
	font-size: 0.9em;
	}
	.header1 {
	border-bottom:none;
	margin: 40px auto 0px auto;
	}
	.formgivning {
	font-size: 0.7em;
	}
	
	/* Här är inställningarna för footer */
	.image2 {
	margin-top: 10%;}
	
	/* Här är inställningarna för header samtliga under sidor */
	.header {
	margin: 20px auto 40px auto;
	}	
	.logga-area{
	width: 40%;
	float: none;
	margin: 0px auto;
	}
	.logga{
	width:100%;
	}
	.linkbox-area {
	width: 100%;
	float: none;
	margin: 4% auto 0% auto;
	}	
	.linkbox {
	text-align: center;
	}
	.linkbox li {
	margin-top:3%;
	}
	.linkbox a:link, a:visited {
	padding: 5px 8px 2px 8px; 
	font-size: 0.9em;
	}
/* Rubrik inställningar används på portfolio.*/
	.rubrik {
	margin: 6% auto;
	padding-bottom: 4%;
	}
	h2 {
	font-size: 1.0em;
	}
/*Portfolio*/
	.bildbox-left {
	width: 70%; 
	float: none; 
	margin:5% auto;}

	.bildbox-right {
	width: 70%; 
	float: none; 
	margin: 5% auto;}

	.bildbox-left2{
		float: none;
		width: 70%;
		margin: 4% auto;
	}

/*Guldsmide*/
	.vanster{
	width: 100%; 
	float: none; 
	margin:0px;
	box-sizing: border-box;  
	}
	.g-logga{
	width: 70%; 
	float: none; 
	margin:0px 14%;
	padding: 0px auto;	  
	box-sizing: border-box;  
	}	
	.gtext{
	width: 100%; 
	float: none; 
	padding: 2%; 
	box-sizing: border-box; 
	}
	.bildspel{
	width: 100%; 
	float: none; 
	margin: 10% 0px 5% 0px;  
	box-sizing: border-box; 
	}
	p {
		font-size: 1.0em;
	}
/* om mig*/

	.bild{
	width: 60%; 
	float: none; 
	margin:7% auto 7% auto;  
	box-sizing: border-box;  
	}
	.citat{
		float: none;
		margin: 0% auto;
		width: 60%;
	}
	h4 {
		font-size: 1.0em;
		text-align: center;
	}
	h5 {
		font-size: 0.8em;
		text-align: center;
	}
	.hide-mobile {
		display: none;
	}
}







